# Example environment variables for Book My Ticket backend
# Copy this file to .env and fill in your own values

PORT=

MONGODB_URI=

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES_IN=
JWT_REFRESH_EXPIRES_IN=

SMTP_PASS=
SMTP_USER=
SMTP_FROM_EMAIL=
GOOGLE_CLIENT_ID=625272790810-75us8mebhl5cvt81m4rg147o9skigllb.apps.googleusercontent.com
FRONTEND_URL=http://localhost:3000
